.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  color: gray;
}
.App .header {
  display: flex;
  align-items: center;
  background-color: azure;
  color: gray;
  border-radius: 25px;
}
.App .header .avatar {
  margin-right: 3vh;
}
.App .header .avatar img {
  width: 37vh;
  border-radius: 50%;
  height: 30vh;
}
/******************/
.App .container-infor {
  background-color: azure;
  height: 50vh;
  width: 38%;
  margin-top: 17vh;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;
}
.App .container-infor ul {
  list-style-type: none;
  line-height: 8vh;
}
.App .container-infor i {
  margin-right: 4vh;
}
.App .container {
  display: flex;
  justify-content: space-between;
}
.App .container-infor h3 {
  position: absolute;
  width: 66vh;
  top: 40vh;
  justify-content: center;
  left: 23vh;
  background-color: turquoise;
  height: 16vh;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.App .container-experience {
  height: 156vh;
  margin-top: 5vh;
  width: 93vh;
  background-color: azure;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.App .container-experience h3 {
  top: 40vh;
  width: 103vh;
  background-color: turquoise;
  height: 16vh;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/****************************/
.App .graduation {
  background-color: azure;
    height: 38vh;
    width: 63vh;
    position: absolute;
    display: flex;
    top: 116vh;
    align-items: flex-end;
    border-radius: 25px;
    text-align: center;
    align-content: flex-end;
}
.App .graduation h4{
  position: absolute;
  top: -5vh;
  left: -2vh;
  height: 16vh;
  background-color: turquoise;
  width: 66vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .skill{
 
    top: 168vh;
}


